{% extends 'core/base.html' %}
{% load static %}

{% block title %}Chat with {{ other_user.username }} | {% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static 'rooms/room.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="room-heading">
    <a id="room-desc">Chat with {{ other_user.username }}</a>
    <i class="fa fa-info-circle" aria-hidden="true" id="icon1" title="Chat Info" style="font-size: 1.5rem;"></i>

    <div class="about-room-modal" id="about-room-modal">
        <span class="close"></span>
        <div class="modal-content">
            <h1 id="modal-heading">Chat with {{ other_user.username }}</h1>
            <label for="chat-desc-text" class="desc-label">Chat with</label>
            <p id="chat-desc-text">{{ other_user.username }}</p>
        </div>
    </div>
</div>


<div class="chat-messages-container">
    <div class="chat-messages" id="chat-messages">
        {% for message in messages %}
        <div class="chat-message-box">
            <div class="chat-user-icon">
                <i class="fa fa-user-circle" aria-hidden="true" id="user-icon"></i>
            </div>
            <div class="chat-msg">
                <p class="font-semibold">{{ message.sender_name.username }}</p>
                <p id="chat-message">{{ message.description }}</p> 
            </div>
        </div>
        {% endfor %}
    </div>
</div> 

<div class="chat-msg-input-container">
    <form action="." method="post" class="flex">
        {% csrf_token %}
        <textarea name="content" id="chat-msg-input" class="flex-1 mr-3" placeholder="Your message..."></textarea>
        <button class="chat-msg-send" id="chat-msg-send">Send</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ request.user.username|json_script:"json-username" }}
{{ other_user.username|json_script:"json-otherusername" }}
{{ request.session.get_expiry_age|json_script:"json-expiry" }}
<script src="{% static 'js/room.js' %}"></script>
{% endblock %}
